@use "reset";
@use "fonts";
@use "variables" as *;

// ====================ALL=============================

body,
html {
  color: #1E1B1B;
  font-family: Manrope, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  scroll-behavior: smooth;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;

}


.button {
  color: #FFF;
  background: #FF6433;
  border-radius: 12px;
  padding: 16px 40px;
  display: inline-block;
  font-size: 18px;
  line-height: 175%;
  @include transition;

  &:hover {
    transform: scale(1.05);
  }
}

.title--center {
  text-align: center;
}

.heading--center {
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: #0000009b;
  z-index: 40;
  visibility: hidden;
  opacity: 0;
  z-index: 7;
}

@media (max-width: 900px) {
  .overlay--show {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
  }

  .overlay {
    transition: all .3s;
  }
}


.form {
  &__info {
    width: 480px;
  }

  &__info-item {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info-name {
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.7;
  }

  &__link {
    line-height: 36px;
    letter-spacing: -0.72px;
    text-wrap: nowrap;
  }
}

.heading {
  &__uptitle {
    line-height: 36px;
    letter-spacing: -0.72px;

    @media (max-width: 900px) {
      font-size: 20px;
    }
  }

  &__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;

    @media (max-width: 1350px) {
      font-size: 40px;
      font-weight: 800;
      line-height: 76px;
      letter-spacing: -1.74px;
    }

    @media (max-width: 900px) {
      font-size: 35px;
      font-weight: 800;
      line-height: 50px;
      letter-spacing: -1.74px;
    }
  }


}

// ====================HEADER=============================

.burger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffffffa6;
  box-shadow: 0 0 10px 0px #692927;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 15px;
  z-index: 15;

  @include transition;

  &--open {
    box-shadow: 0 0 0 0;
    background-color: transparent;
    @include transition;
  }

  & span {
    position: relative;
    display: block;
    height: 5px;
    width: 30px;
    background-color: #000000;
    border-radius: 4px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    @include transition;

    &::after,
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 0px;
      border: 3px solid #000000;
      border-radius: 3px;
      left: 0;
    }

    &::after {
      top: 10px;
    }

    &::before {
      top: -10px;
    }
  }

  @media (max-width: 900px) {
    display: block;
  }

}

.header__top-inner {
  width: 100%;
  display: flex;
  padding: 18px 0;
  align-items: center;

  @media (max-width: 900px) {
    position: fixed;
    flex-direction: column;
    background: #ffffffda;
    width: 350px;
    height: 100%;
    top: 0;
    right: -800px;
    z-index: 10;
    justify-content: space-between;
    @include transition;
  }

  &--open {
    right: 0;
  }

  @media (max-width: 500px) {
    width: 100%;

  }
}

.header {
  position: relative;


  &__logo {
    margin-right: auto;

    @media (max-width: 900px) {
      margin-right: 0;
      margin: 15px;
    }
  }

  &__nav {
    @media (max-width: 900px) {
      width: 350px;
    }

    &-list {
      display: flex;
      margin-left: 30px;

      @media (max-width: 900px) {
        flex-direction: column;
        margin-left: 0;
        align-items: center;

      }
    }

    &-item {
      margin-right: 40px;

      @media (max-width: 900px) {
        margin-right: 0;
        width: 100%;
      }


      &:last-child {
        margin-right: 0;

        @media (max-width: 900px) {
          margin-right: 0;
        }
      }


    }

    a {
      color: #1E1B1B;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      display: block;
      height: 100%;
      @include transition;

      @media (max-width: 900px) {
        padding: 15px 0;
        text-align: center;
      }

      &:hover {
        color: #FF6433;
      }
    }
  }

  &__line {
    margin: 0 32px;
    display: block;
    height: 42px;
    width: 1px;
    background-color: #9391915C;

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__contact {
    margin-left: 44px;
    position: relative;

    &-name {
      color: #1E1B1B;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      opacity: 0.7;
    }

    &-tel {
      color: #1E1B1B;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 175%;
      @include transition;

      &:hover {
        color: #FF6433;
      }
    }



    &::after {
      content: "";
      position: absolute;
      height: 40px;
      width: 40px;
      top: 7px;
      left: -54px;
      background: url("../images/icon/green\ phone.svg") no-repeat;
    }
  }


  &__body {
    margin: 80px 0 135px;

    @media (max-width: 900px) {
      margin-bottom: 80px;
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1350px) {
        flex-direction: column;
      }
    }
  }

  &__content {
    width: 625px;

    @media (max-width: 1350px) {
      margin-bottom: 30px;
    }

    @media (max-width: 700px) {
      width: 400px;

    }

    @media (max-width: 450px) {
      width: 350px;
    }

  }

  &__titel {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -1.92px;
    margin-bottom: 40px;
    width: 625px;

    @media (max-width: 700px) {
      width: 400px;
      text-align: center;
      margin: 0 auto;
      font-size: 50px;
    }

    @media (max-width: 450px) {
      font-size: 40px;
      width: 350px;
    }
  }

  &__btn-box {
    margin-bottom: 48px;

    @media (max-width: 700px) {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    @media (max-width: 450px) {
      flex-direction: column;
      width: 350px;
    }
  }

  &__btn {

    margin-right: 33px;

    @media (max-width: 450px) {
      margin-right: 0;
    }

    &--transp {
      color: #1E1B1B;
      font-weight: 500;
      font-size: 16px;
      padding: 24px 16px 24px 48px;
      border-radius: 12px;
      position: relative;
      @include transition;
      display: inline-block;

      @media (max-width: 450px) {
        margin-top: 30px;
      }

      &::after {
        content: "";
        height: 24px;
        width: 24px;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        position: absolute;
        background: url("../images/icon/Play\ black.svg");
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px 1px #FF6433;
      }
    }
  }

  &__status {
    margin-left: 45px;
    position: relative;




    &::after {
      content: "";
      height: 31px;
      width: 31px;
      top: 12px;
      left: -44px;
      position: absolute;
      background: url("../images/icon/clock.svg");
    }

    &-open {
      color: #939191;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    &-work {
      font-size: 18px;
      font-weight: 600;
      line-height: 175%;

    }
  }


  &__img-box {
    position: relative;
    max-width: 605px;
    margin: 0 40px;

    @media (max-width: 700px) {}

    @media (max-width: 600px) {}

    @media (max-width: 440px) {
      margin: 0 10px;
    }

    & img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__info-box {
    position: absolute;
    top: 81px;
    left: -30px;
    display: flex;
    height: 102px;
    width: 282px;
    border-radius: 59px;
    background: #FFF;
    box-shadow: 0px 0px 0px 12px #e1e1e143;

    @media (max-width: 700px) {
      transform: scale(0.8);
      top: 55px;
      left: -55px;
    }

    @media (max-width: 600px) {
      transform: scale(0.65);
      top: 35px;
      left: -75px;

    }


    @media (max-width: 440px) {
      transform: scale(0.5);
      top: 5px;
      left: -85px;
    }

    & span {
      margin-left: 98px;
      align-self: center;
      position: relative;

      &::after {
        content: "";
        top: 0;
        left: -85px;
        position: absolute;
        height: 70px;
        width: 71px;
        transform: translateY(calc(-50% + 12px));
        display: block;
        background: url("../images/icon/quick.svg") no-repeat;
      }
    }
  }

  &__rate-box {
    display: flex;
    position: absolute;
    bottom: 65px;
    right: -25px;
    height: 102px;
    width: 325px;
    border-radius: 59px;
    background: #FFF;
    box-shadow: 0px 0px 0px 12px #e1e1e143;
    align-items: center;
    z-index: 3;

    @media (max-width: 700px) {
      transform: scale(0.8);
      bottom: 55px;
      right: -55px;
    }

    @media (max-width: 600px) {
      transform: scale(0.65);
      bottom: 35px;
      right: -75px;
    }

    @media (max-width: 440px) {
      transform: scale(0.5);
      bottom: 5px;
      right: -85px;
    }
  }

  &__rate-item {
    margin-left: 38px;

    &:last-child {
      margin-left: 15px;
    }
  }

  &__rate-num {
    color: #000;
    line-height: 36px;
    letter-spacing: -0.72px;
  }

  &__rate-name {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.7;
  }
}

// ====================OFFER=============================
.main__offer {
  background-color: #F2F2F2;
  padding: 128px 0;

  @media (max-width: 900px) {
    padding: 80px 0;
  }
}

.offer {
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    width: 855px;
    margin: 0 auto 48px;

    @media (max-width: 900px) {
      width: 450px;
    }

    @media (max-width: 500px) {
      width: 320px;
    }
  }
}



.offer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 232px);
  gap: 8px;
  margin-bottom: 32px;

  @media (max-width: 1350px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 190px);
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 150px);
  }

  // @media (max-width: 500px) {
  //   grid-template-columns: repeat(1, 1fr);
  //   grid-template-rows: repeat(8, 232px);
  // }


  &-item {
    background-color: #FFF;
  }

  &-link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include transition;

    @media (max-width: 700px) {
      font-size: 20px;
    }

    & svg {
      margin-bottom: 15px;

      @media (max-width: 700px) {
        transform: scale(0.8);

      }
    }

    &:hover {

      & {
        background-color: #FF6433;
      }

      & svg path {
        fill: #FFF;
      }

      & span {
        color: #FFF;
      }
    }
  }
}

.offer__link-about {
  display: block;
  align-self: flex-end;
  position: relative;
  transition: all .3s;

  & svg {
    margin-left: 16px;
  }

  &:hover {
    color: #FF6433;
  }

  &:hover svg path {
    fill: #FF6433;
    transition: all .3s;
  }
}

// ====================FOLLOW=============================

.main__follow {
  padding: 134px 0;

  @media (max-width: 900px) {
    padding: 80px 0;
  }

}

.follow {

  &__inner {
    display: flex;

    @media (max-width: 1050px) {
      flex-direction: column;
      align-items: center;
    }

    &-info {
      margin-right: 130px;
      max-width: 525px;

      @media (max-width: 1050px) {
        margin-right: 0;
        width: 525px;
        margin-bottom: 30px;
      }

      @media (max-width: 600px) {
        width: 400px;
      }

      @media (max-width: 450px) {
        width: 300px;
      }
    }

    &-steps {
      display: flex;
      flex-direction: column;

      @media (max-width: 1050px) {
        width: 525px;
      }

      @media (max-width: 600px) {
        width: 400px;
      }

      @media (max-width: 450px) {
        width: 300px;
      }
    }
  }

  &__steps-item {
    display: flex;
    margin-bottom: 16px;
  }

  &__steps-num {
    color: #FFF;
    display: flex;
    height: 72px;
    width: 72px;
    background-color: #661CE7;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    margin-right: 24px;


    @media (max-width: 600px) {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 15px;
      height: 42px;
      width: 42px;
      background-color: #ffffff3d;
      border-radius: 50%;
      transform: translateY(50%);

      @media (max-width: 600px) {
        height: 21px;
        width: 21px;
        right: 7.5px;
      }
    }

    & span {
      display: block;
      position: absolute;
      bottom: -83px;
      right: 36px;
      height: 71px;
      width: 0;
      border-left: 3px dashed #FF6433;

      @media (max-width: 600px) {
        right: 18px;
        bottom: -95px;
        height: 80px;
      }
    }
  }

  &__steps-name {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
  }

  &__steps-text {
    width: 335px;
    font-size: 18px;
    line-height: 175%;
    opacity: 0.6;

    @media (max-width: 450px) {
      width: 300px;
    }
  }
}



.heading__follow-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 32px;
  width: 440px;

  @media (max-width: 450px) {
    width: 300px;
  }

  @media (max-width: 900px) {
    margin: 32px 0;
  }
}

// ====================CONTACT-PROMO=============================
.main__contact-promo {
  background: url("../images/photo/car_2.png") no-repeat top right, url("../images/photo/car_1.png") no-repeat top left, #F2F2F2;
  background-size: 50% 502px, 50% 502px;
  position: relative;

}

.contact-promo {


  &__inner {
    background-color: #FF6433;
    width: 730px;
    height: 502px;
    padding: 128px 0;

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  &__heading {

    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    width: 570px;
    margin: 0 80px;
  }

  &__btn {
    background-color: #000000;
    margin: 48px 0 0 60px;
  }

  &__row {
    display: flex;
    padding: 48px 0;
    justify-content: space-between;

    @media (max-width: 750px) {
      flex-direction: column;
      align-items: center;
    }


    &-item {
      display: flex;
      flex-direction: column;
      line-height: 36px;
      letter-spacing: -0.72px;
      opacity: 0.7;

      @media (max-width: 900px) {
        font-size: 20px;

      }

      @media (max-width: 750px) {
        align-items: center;
        flex-direction: row;
      }

      & span {
        color: #661CE7;
        font-size: 58px;
        font-weight: 800;
        line-height: 76px;
        letter-spacing: -1.74px;

        @media (max-width: 900px) {
          font-size: 40px;
        }
      }
    }
  }
}

.heading__title-content {
  margin: auto 0;
}

// ====================CONTACT-PROMO=============================
.main__brands {
  padding: 128px 0 90px 0;
  background-color: #E2E6E9;
}

.brands {

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 127px);
    gap: 1fr;
    align-items: center;
    justify-content: center;
  }

  &__list-link {
    display: block;
    height: 100%;
    width: 100%;


    & svg path {
      @include transition;
    }

    &:hover svg path {
      fill: #FF6433;

    }
  }
}

.brands__inner .heading__title {
  margin: 0 auto 31px auto;
  text-align: center;

}

// ====================BLOG=============================
.main__blog {
  padding: 135px 0;
}

.blog {

  &__filter {
    display: flex;
    margin-bottom: 46px;

    &-item {
      font-size: 32px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -0.96px;
      margin-right: 30px;
      @include transition;

      &:hover {
        color: #FF6433;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 606px);
    row-gap: 64px;
    column-gap: 32px;


    &-link {
      display: block;
      height: 100%;
      width: 100%;
      @include transition;

      &:hover {
        box-shadow: 20px 20px 20px 0px #dbdbdb;
        transform: scale(1.03);
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
    }

    &-date {
      color: #939191;
      font-size: 16px;
      line-height: 28px;
      margin-top: 24px;
    }

    &-titel {
      font-size: 32px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -0.96px;
      margin: 16px 0;
    }

    &-text {
      color: #232536;
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.blog__title {
  margin-bottom: 47px;
}

// ====================REVIEW=============================
.review {


  &__heading {
    max-width: 910px;
    margin-bottom: 76px;
  }



  &__card {
    height: 376px;
    width: 616px;
    background-color: #fff;
    padding: 72px;
    border-radius: 6px;
    border: 1px solid #acacac4a;
    // box-shadow: 11px 130px 100px 30px #00000005;
    margin-right: 24px;
    width: 616px;
  }

  &__card-slider {
    overflow: hidden;
    width: 1304px;
    padding-right: -24px;

    .slick-track {
      display: flex;
    }
  }

  &__card-user {
    display: flex;
    margin-bottom: 24px;
  }

  &__card-text {
    min-width: 472px;
    line-height: 36px;
    letter-spacing: -0.72px;
  }

  &__avatar {
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__user-name {
    line-height: 36px;
    letter-spacing: -0.72px;
  }

  &__user-location {
    color: #939191;
    font-size: 16px;
    line-height: 28px;
  }

  &__nav-box {
    align-items: center;
    position: relative;
  }

  &__card-arrows {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__card-arrow {

    display: flex;
    align-items: center;
  }

  &__card-dots {
    text-align: center;
    margin-top: 32px;



    & li {
      display: inline-block;
      margin: 0 7.5px;

      & button {
        padding: 30px 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;


        &::before {
          content: "";
          display: block;
          width: 30px;
          height: 3px;
          background-color: #808080;
          border-radius: 3px;
          margin: auto;
        }
      }

    }

    & .slick-active {
      & button::before {
        background-color: #FF6433;
      }
    }
  }



  &__card-prev {
    position: relative;
    margin-right: 39px;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    @include transition;


    & svg {
      display: block;
      display: block;
      margin: auto;

    }

    &:hover svg path {
      fill: #fff;
      @include transition;
    }

    &:hover {
      background: #000;
      transform: scale(1.2);
    }
  }

  &__card-next {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    @include transition;

    & svg {
      transform: rotate(180deg);
      display: block;
      margin: auto;

    }

    &:hover svg path {
      fill: #fff;
      @include transition;
    }

    &:hover {
      background: #000;
      transform: scale(1.2);
    }
  }
}

.main__review {
  padding: 128px 0 125px 0;
  background-color: #F2F2F2;
}

// ====================QUESTIONS=============================
.questions {

  &__heading {
    margin-bottom: 86px;
  }

  &__acc {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-item {
      background-color: #fff;
      padding: 32px;
      width: 895px;
      display: flex;
      flex-direction: row;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;


    }

    &-link {
      width: 100%;
      display: block;
    }

    &-link--active {
      & .questions__acc-icon::before {
        content: "";
        transform: translateX(50%) rotate(0deg);
        @include transition;
      }
    }

    &-heading {
      line-height: 36px;
      letter-spacing: -0.72px;

    }

    &-text {
      color: #939191;
      font-size: 18px;
      font-weight: 500;
      line-height: 175%;
      max-width: 695px;
      display: none;
      margin-top: 12px;
    }

    &-icon {
      display: block;
      height: 50px;
      width: 50px;
      background-color: #FF6433;
      margin-left: 60px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 50%;
        width: 17px;
        height: 0;
        border: #fff solid 1px;
        border-radius: 2px;
        transform: translateX(50%);
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 50%;
        width: 17px;
        height: 0;
        border: #fff solid 1px;
        border-radius: 2px;
        transform: translateX(50%) rotate(90deg);
        @include transition;
      }
    }
  }
}

.main__questions {
  padding: 128px 0;
  background: #E2E6E9;
}

// ====================CONTACT=============================
.main__contact-form {
  padding: 120px 0 168px;
}

.contact-form {
  background: url("../images/photo/footer.png") bottom left no-repeat;
  background-size: 100% auto;

  &__inner {}

  &__heading {
    margin-bottom: 48px;
    max-width: 450px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    width: 100%;
    margin-right: 141px;
    margin-bottom: 148px;
  }

  &__input {
    display: block;
    width: 100%;
    background-color: #F2F2F2;
    margin-bottom: 4px;
    padding: 26px 40px;
    border-radius: 2px;

    &::placeholder {
      color: #1E1B1B;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }

    &:last-of-type {
      margin-bottom: 48px;
    }
  }



  &__button {}

  &__map-box {
    margin: 0 auto;

  }
}

// ====================FOOTER=============================
.footer {

  &-top {
    background: #1e1b1bfa;
  }

  &-top__inner {
    display: flex;
    justify-content: space-between;
    padding: 128px 0;
  }

  &-top__heading {
    margin-right: 30px;
  }


  &__heading {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    width: 460px;
    margin-bottom: 64px;
  }

  &-top__social {
    display: flex;

    &-item {
      margin-right: 24px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &-link {}
  }

  &-top__info {
    color: #FFF;
  }

  &-top__info-name {
    font-size: 18px;
    line-height: 175%;
    opacity: 0.6;
  }
}

// ====================TOP=============================
.footer {
  &-bottom {
    background-color: #1E1B1B;
    padding: 65px 0;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__nav-list {
      color: #fff;
      display: flex;
      font-size: 16px;
      line-height: 28px;
    }

    &__nav-item {
      margin-right: 45px;

      & a {
        @include transition;

        &:hover {
          color: #FF6433;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    &__copyright {
      color: #939191;
      font-size: 16px;
      line-height: 28px;
    }
  }
}