* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff"), url("../fonts/Manrope-SemiBold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-weight: 800;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.eot") format("eot");
  font-display: swap;
}
body {
  color: #1E1B1B;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  color: #FFF;
  background: #FF6433;
  border-radius: 12px;
  padding: 16px 40px;
  display: inline-block;
  font-size: 18px;
  line-height: 175%;
  transition: all 0.3s;
}
.button:hover {
  transform: scale(1.05);
}

.title--center {
  text-align: center;
}

.heading--center {
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.form__info {
  width: 480px;
}
.form__info-item {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}
.form__info-item:last-child {
  margin-bottom: 0;
}
.form__info-name {
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}
.form__link {
  line-height: 36px;
  letter-spacing: -0.72px;
  text-wrap: nowrap;
}

.header__top-inner {
  width: 100%;
  display: flex;
  padding: 18px 0;
  align-items: center;
}

.header {
  position: relative;
}
.header__logo {
  margin-right: auto;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav a {
  color: #1E1B1B;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  transition: all 0.3s;
}
.header__nav a:hover {
  color: #FF6433;
}
.header__line {
  margin: 0 32px;
  display: block;
  height: 42px;
  width: 1px;
  background-color: rgba(147, 145, 145, 0.3607843137);
}
.header__contact {
  margin-left: 44px;
  position: relative;
}
.header__contact-name {
  color: #1E1B1B;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}
.header__contact-tel {
  color: #1E1B1B;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  transition: all 0.3s;
}
.header__contact-tel:hover {
  color: #FF6433;
}
.header__contact::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  top: 7px;
  left: -54px;
  background: url("../images/icon/green phone.svg") no-repeat;
}
.header__body {
  margin: 80px 0 135px;
}
.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  width: 625px;
}
.header__titel {
  font-size: 64px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: -1.92px;
  margin-bottom: 40px;
  width: 625px;
}
.header__btn-box {
  margin-bottom: 48px;
}
.header__btn {
  margin-right: 33px;
}
.header__btn--transp {
  color: #1E1B1B;
  font-weight: 500;
  font-size: 16px;
  padding: 24px 16px 24px 48px;
  border-radius: 12px;
  position: relative;
  transition: all 0.3s;
  display: inline-block;
}
.header__btn--transp::after {
  content: "";
  height: 24px;
  width: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  position: absolute;
  background: url("../images/icon/Play black.svg");
}
.header__btn--transp:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 1px #FF6433;
}
.header__status {
  margin-left: 45px;
  position: relative;
}
.header__status::after {
  content: "";
  height: 31px;
  width: 31px;
  top: 12px;
  left: -44px;
  position: absolute;
  background: url("../images/icon/clock.svg");
}
.header__status-open {
  color: #939191;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.header__status-work {
  font-size: 18px;
  font-weight: 600;
  line-height: 175%;
}
.header__img-box {
  position: relative;
}
.header__info-box {
  position: absolute;
  top: 81px;
  left: -30px;
  display: flex;
  height: 102px;
  width: 282px;
  border-radius: 59px;
  background: #FFF;
  box-shadow: 0px 0px 0px 12px rgba(225, 225, 225, 0.262745098);
}
.header__info-box span {
  margin-left: 98px;
  align-self: center;
  position: relative;
}
.header__info-box span::after {
  content: "";
  top: 0;
  left: -85px;
  position: absolute;
  height: 70px;
  width: 71px;
  transform: translateY(calc(-50% + 12px));
  display: block;
  background: url("../images/icon/quick.svg") no-repeat;
}
.header__rate-box {
  display: flex;
  position: absolute;
  bottom: 65px;
  right: -25px;
  height: 102px;
  width: 325px;
  border-radius: 59px;
  background: #FFF;
  box-shadow: 0px 0px 0px 12px rgba(225, 225, 225, 0.262745098);
  align-items: center;
}
.header__rate-item {
  margin-left: 38px;
}
.header__rate-item:last-child {
  margin-left: 15px;
}
.header__rate-num {
  color: #000;
  line-height: 36px;
  letter-spacing: -0.72px;
}
.header__rate-name {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}

.main__offer {
  background-color: #F2F2F2;
  padding: 128px 0;
}

.offer__inner {
  display: flex;
  flex-direction: column;
}
.offer__heading {
  display: flex;
  flex-direction: column;
  width: 855px;
  margin: 0 auto 48px;
}

.heading__uptitle {
  line-height: 36px;
  letter-spacing: -0.72px;
}
.heading__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -1.74px;
}

.offer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 232px);
  gap: 8px;
  margin-bottom: 32px;
}
.offer__grid-item {
  background-color: #FFF;
}
.offer__grid-link {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.offer__grid-link svg {
  margin-bottom: 15px;
}
.offer__grid-link:hover {
  background-color: #FF6433;
}
.offer__grid-link:hover svg path {
  fill: #FFF;
}
.offer__grid-link:hover span {
  color: #FFF;
}

.offer__link-about {
  display: block;
  align-self: flex-end;
  position: relative;
  transition: all 0.3s;
}
.offer__link-about svg {
  margin-left: 16px;
}
.offer__link-about:hover {
  color: #FF6433;
}
.offer__link-about:hover svg path {
  fill: #FF6433;
  transition: all 0.3s;
}

.main__follow {
  padding: 134px 0;
}

.follow__inner {
  display: flex;
}
.follow__inner-info {
  margin-right: 130px;
  max-width: 525px;
}
.follow__inner-steps {
  display: flex;
  flex-direction: column;
}
.follow__steps-item {
  display: flex;
  margin-bottom: 16px;
}
.follow__steps-num {
  color: #FFF;
  display: flex;
  height: 72px;
  width: 72px;
  background-color: #661CE7;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  margin-right: 24px;
}
.follow__steps-num::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 42px;
  width: 42px;
  background-color: rgba(255, 255, 255, 0.2392156863);
  border-radius: 50%;
  transform: translateY(50%);
}
.follow__steps-num span {
  display: block;
  position: absolute;
  bottom: -83px;
  right: 36px;
  height: 71px;
  width: 0;
  border-left: 3px dashed #FF6433;
}
.follow__steps-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.follow__steps-text {
  width: 335px;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
}

.heading__title {
  margin-bottom: 16px;
}

.heading__follow-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 32px;
  width: 440px;
}

.main__contact-promo {
  background: url("../images/photo/car_1.png") no-repeat top left, url("../images/photo/car_2.png") repeat-x top right, #F2F2F2;
  background-size: auto 502px, auto 502px;
  position: relative;
}

.contact-promo__inner {
  background-color: #FF6433;
  width: 730px;
  height: 502px;
  padding: 128px 0;
}
.contact-promo__heading {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.44px;
  width: 570px;
  margin: 0 80px;
}
.contact-promo__btn {
  background-color: #000000;
  margin: 48px 0 0 60px;
}
.contact-promo__row {
  display: flex;
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
}
.contact-promo__row-item {
  display: flex;
  flex-direction: column;
  line-height: 36px;
  letter-spacing: -0.72px;
  opacity: 0.7;
}
.contact-promo__row-item span {
  color: #661CE7;
  font-size: 58px;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -1.74px;
}

.heading__title-content {
  margin: auto 0;
}

.main__brands {
  padding: 128px 0 90px 0;
  background-color: #E2E6E9;
}

.brands__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 127px);
  gap: 1fr;
  align-items: center;
  justify-content: center;
}
.brands__list-link {
  display: block;
  height: 100%;
  width: 100%;
}
.brands__list-link svg path {
  transition: all 0.3s;
}
.brands__list-link:hover svg path {
  fill: #FF6433;
}

.brands__inner .heading__title {
  margin: 0 auto 31px auto;
  text-align: center;
}

.main__blog {
  padding: 135px 0;
}

.blog__filter {
  display: flex;
  margin-bottom: 46px;
}
.blog__filter-item {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.96px;
  margin-right: 30px;
  transition: all 0.3s;
}
.blog__filter-item:hover {
  color: #FF6433;
}
.blog__filter-item:last-child {
  margin-right: 0;
}
.blog__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 606px);
  row-gap: 64px;
  column-gap: 32px;
}
.blog__card-link {
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}
.blog__card-link:hover {
  box-shadow: 20px 20px 20px 0px #dbdbdb;
  transform: scale(1.03);
}
.blog__card-content {
  display: flex;
  flex-direction: column;
}
.blog__card-date {
  color: #939191;
  font-size: 16px;
  line-height: 28px;
  margin-top: 24px;
}
.blog__card-titel {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.96px;
  margin: 16px 0;
}
.blog__card-text {
  color: #232536;
  font-size: 16px;
  line-height: 28px;
}

.blog__title {
  margin-bottom: 47px;
}

.review__heading {
  max-width: 910px;
  margin-bottom: 76px;
}
.review__card {
  height: 376px;
  width: 616px;
  background-color: #fff;
  padding: 72px;
  border-radius: 6px;
  border: 1px solid rgba(172, 172, 172, 0.2901960784);
  margin-right: 24px;
  width: 616px;
}
.review__card-slider {
  overflow: hidden;
  width: 1304px;
  padding-right: -24px;
}
.review__card-slider .slick-track {
  display: flex;
}
.review__card-user {
  display: flex;
  margin-bottom: 24px;
}
.review__card-text {
  min-width: 472px;
  line-height: 36px;
  letter-spacing: -0.72px;
}
.review__avatar {
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}
.review__user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.review__user-name {
  line-height: 36px;
  letter-spacing: -0.72px;
}
.review__user-location {
  color: #939191;
  font-size: 16px;
  line-height: 28px;
}
.review__nav-box {
  align-items: center;
  position: relative;
}
.review__card-arrows {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.review__card-arrow {
  display: flex;
  align-items: center;
}
.review__card-dots {
  text-align: center;
  margin-top: 32px;
}
.review__card-dots li {
  display: inline-block;
  margin: 0 7.5px;
}
.review__card-dots li button {
  padding: 30px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.review__card-dots li button::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #808080;
  border-radius: 3px;
  margin: auto;
}
.review__card-dots .slick-active button::before {
  background-color: #FF6433;
}
.review__card-prev {
  position: relative;
  margin-right: 39px;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.review__card-prev svg {
  display: block;
  display: block;
  margin: auto;
}
.review__card-prev:hover svg path {
  fill: #fff;
  transition: all 0.3s;
}
.review__card-prev:hover {
  background: #000;
  transform: scale(1.2);
}
.review__card-next {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.review__card-next svg {
  transform: rotate(180deg);
  display: block;
  margin: auto;
}
.review__card-next:hover svg path {
  fill: #fff;
  transition: all 0.3s;
}
.review__card-next:hover {
  background: #000;
  transform: scale(1.2);
}

.main__review {
  padding: 128px 0 125px 0;
  background-color: #F2F2F2;
}

.questions__heading {
  margin-bottom: 86px;
}
.questions__acc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions__acc-item {
  background-color: #fff;
  padding: 32px;
  width: 895px;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}
.questions__acc-item:last-child {
  margin-bottom: 0;
}
.questions__acc-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.questions__acc-link {
  width: 100%;
  display: block;
}
.questions__acc-link--active .questions__acc-icon::before {
  content: "";
  transform: translateX(50%) rotate(0deg);
  transition: all 0.3s;
}
.questions__acc-heading {
  line-height: 36px;
  letter-spacing: -0.72px;
}
.questions__acc-text {
  color: #939191;
  font-size: 18px;
  font-weight: 500;
  line-height: 175%;
  max-width: 695px;
  display: none;
  margin-top: 12px;
}
.questions__acc-icon {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #FF6433;
  margin-left: 60px;
  position: relative;
}
.questions__acc-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 17px;
  height: 0;
  border: #fff solid 1px;
  border-radius: 2px;
  transform: translateX(50%);
}
.questions__acc-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 17px;
  height: 0;
  border: #fff solid 1px;
  border-radius: 2px;
  transform: translateX(50%) rotate(90deg);
  transition: all 0.3s;
}

.main__questions {
  padding: 128px 0;
  background: #E2E6E9;
}

.main__contact-form {
  padding: 120px 0 168px;
}

.contact-form {
  background: url("../images/photo/footer.png") bottom left no-repeat;
  background-size: 100% auto;
}
.contact-form__heading {
  margin-bottom: 48px;
  max-width: 450px;
}
.contact-form__content {
  display: flex;
  justify-content: space-between;
}
.contact-form__form {
  width: 100%;
  margin-right: 141px;
  margin-bottom: 148px;
}
.contact-form__input {
  display: block;
  width: 100%;
  background-color: #F2F2F2;
  margin-bottom: 4px;
  padding: 26px 40px;
  border-radius: 2px;
}
.contact-form__input::placeholder {
  color: #1E1B1B;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.contact-form__input:last-of-type {
  margin-bottom: 48px;
}
.contact-form__map-box {
  margin: 0 auto;
}

.footer-top {
  background: rgba(30, 27, 27, 0.9803921569);
}
.footer-top__inner {
  display: flex;
  justify-content: space-between;
  padding: 128px 0;
}
.footer-top__heading {
  margin-right: 30px;
}
.footer__heading {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.44px;
  width: 460px;
  margin-bottom: 64px;
}
.footer-top__social {
  display: flex;
}
.footer-top__social-item {
  margin-right: 24px;
}
.footer-top__social-item:last-of-type {
  margin-right: 0;
}
.footer-top__info {
  color: #FFF;
}
.footer-top__info-name {
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
}

.footer-bottom {
  background-color: #1E1B1B;
  padding: 65px 0;
}
.footer-bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__nav-list {
  color: #fff;
  display: flex;
  font-size: 16px;
  line-height: 28px;
}
.footer-bottom__nav-item {
  margin-right: 45px;
}
.footer-bottom__nav-item a {
  transition: all 0.3s;
}
.footer-bottom__nav-item a:hover {
  color: #FF6433;
}
.footer-bottom__nav-item:last-of-type {
  margin-right: 0;
}
.footer-bottom__copyright {
  color: #939191;
  font-size: 16px;
  line-height: 28px;
}

/*# sourceMappingURL=index.css.map */
