* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff"), url("../fonts/Manrope-SemiBold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-weight: 800;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.eot") format("eot");
  font-display: swap;
}
body {
  font-family: Manrope;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header__top-inner {
  width: 100%;
  display: flex;
  margin-top: 18px;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav a {
  color: #1E1B1B;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.header__line {
  margin: 0 32px;
  display: block;
  height: 42px;
  width: 1px;
  background-color: rgba(147, 145, 145, 0.3607843137);
}

.header__contact {
  margin-left: 44px;
  position: relative;
}
.header__contact-name {
  color: #1E1B1B;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}
.header__contact-tel {
  color: #1E1B1B;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
}
.header__contact::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  top: 7px;
  left: -54px;
  background: url("../images/icon/green phone.svg") no-repeat;
}

/*# sourceMappingURL=index.css.map */
