* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff"), url("../fonts/Manrope-SemiBold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  font-weight: 800;
  font-style: normal;
  src: local("Manrope"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.eot") format("eot");
  font-display: swap;
}
body {
  color: #1E1B1B;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  color: #FFF;
  background: #FF6433;
  border-radius: 12px;
  padding: 16px 40px;
  display: inline-block;
  font-size: 18px;
  line-height: 175%;
  transition: all 0.3s;
}
.button:hover {
  transform: scale(1.05);
}

.title--center {
  text-align: center;
}

.header__top-inner {
  width: 100%;
  display: flex;
  padding: 18px 0;
  align-items: center;
}

.header {
  position: relative;
}
.header__logo {
  margin-right: auto;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav a {
  color: #1E1B1B;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  transition: all 0.3s;
}
.header__nav a:hover {
  color: #FF6433;
}
.header__line {
  margin: 0 32px;
  display: block;
  height: 42px;
  width: 1px;
  background-color: rgba(147, 145, 145, 0.3607843137);
}
.header__contact {
  margin-left: 44px;
  position: relative;
}
.header__contact-name {
  color: #1E1B1B;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}
.header__contact-tel {
  color: #1E1B1B;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  transition: all 0.3s;
}
.header__contact-tel:hover {
  color: #FF6433;
}
.header__contact::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  top: 7px;
  left: -54px;
  background: url("../images/icon/green phone.svg") no-repeat;
}
.header__body {
  margin: 80px 0 135px;
}
.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  width: 625px;
}
.header__titel {
  font-size: 64px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: -1.92px;
  margin-bottom: 40px;
  width: 625px;
}
.header__btn-box {
  margin-bottom: 48px;
}
.header__btn {
  margin-right: 33px;
}
.header__btn--transp {
  color: #1E1B1B;
  font-weight: 500;
  font-size: 16px;
  padding: 24px 16px 24px 48px;
  border-radius: 12px;
  position: relative;
  transition: all 0.3s;
  display: inline-block;
}
.header__btn--transp::after {
  content: "";
  height: 24px;
  width: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  position: absolute;
  background: url("../images/icon/Play black.svg");
}
.header__btn--transp:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 1px #FF6433;
}
.header__status {
  margin-left: 45px;
  position: relative;
}
.header__status::after {
  content: "";
  height: 31px;
  width: 31px;
  top: 12px;
  left: -44px;
  position: absolute;
  background: url("../images/icon/clock.svg");
}
.header__status-open {
  color: #939191;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.header__status-work {
  font-size: 18px;
  font-weight: 600;
  line-height: 175%;
}
.header__img-box {
  position: relative;
}
.header__info-box {
  position: absolute;
  top: 81px;
  left: -30px;
  display: flex;
  height: 102px;
  width: 282px;
  border-radius: 59px;
  background: #FFF;
  box-shadow: 0px 0px 0px 12px rgba(225, 225, 225, 0.262745098);
}
.header__info-box span {
  margin-left: 98px;
  align-self: center;
  position: relative;
}
.header__info-box span::after {
  content: "";
  top: 0;
  left: -85px;
  position: absolute;
  height: 70px;
  width: 71px;
  transform: translateY(calc(-50% + 12px));
  display: block;
  background: url("../images/icon/quick.svg") no-repeat;
}
.header__rate-box {
  display: flex;
  position: absolute;
  bottom: 65px;
  right: -25px;
  height: 102px;
  width: 325px;
  border-radius: 59px;
  background: #FFF;
  box-shadow: 0px 0px 0px 12px rgba(225, 225, 225, 0.262745098);
  align-items: center;
}
.header__rate-item {
  margin-left: 38px;
}
.header__rate-item:last-child {
  margin-left: 15px;
}
.header__rate-num {
  color: #000;
  line-height: 36px;
  letter-spacing: -0.72px;
}
.header__rate-name {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}

.main__offer {
  background-color: #F2F2F2;
  padding: 128px 0;
}

.offer__inner {
  display: flex;
  flex-direction: column;
}
.offer__heading {
  display: flex;
  flex-direction: column;
  width: 855px;
  margin: 0 auto 48px;
}

.heading--center {
  align-items: center;
}
.heading__uptitle {
  line-height: 36px;
  letter-spacing: -0.72px;
}
.heading__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -1.74px;
}

.offer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 232px);
  gap: 8px;
  margin-bottom: 32px;
}
.offer__grid-item {
  background-color: #FFF;
}
.offer__grid-link {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.offer__grid-link svg {
  margin-bottom: 15px;
}
.offer__grid-link:hover {
  background-color: #FF6433;
}
.offer__grid-link:hover svg path {
  fill: #FFF;
}
.offer__grid-link:hover span {
  color: #FFF;
}

.offer__link-about {
  display: block;
  align-self: flex-end;
  position: relative;
  transition: all 0.3s;
}
.offer__link-about svg {
  margin-left: 16px;
}
.offer__link-about:hover {
  color: #FF6433;
}
.offer__link-about:hover svg path {
  fill: #FF6433;
  transition: all 0.3s;
}

.main__follow {
  padding: 134px 0;
}

.follow__inner {
  display: flex;
}
.follow__inner-steps {
  display: flex;
  flex-direction: column;
}
.follow__steps-item {
  display: flex;
  margin-bottom: 16px;
}
.follow__steps-num {
  color: #FFF;
  display: flex;
  height: 72px;
  width: 72px;
  background-color: #661CE7;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  margin-right: 24px;
}
.follow__steps-num::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 42px;
  width: 42px;
  background-color: rgba(255, 255, 255, 0.2392156863);
  border-radius: 50%;
  transform: translateY(50%);
}
.follow__steps-num span {
  display: block;
  position: absolute;
  bottom: -83px;
  right: 36px;
  height: 71px;
  width: 0;
  border-left: 3px dashed #FF6433;
}
.follow__steps-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.follow__steps-text {
  width: 335px;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
}

.heading__title {
  max-width: 525px;
  margin-bottom: 16px;
}

.heading__follow-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 32px;
}

/*# sourceMappingURL=index.css.map */
